.home {
    background: linear-gradient(to top, #000000, #2c2a2a);
    color: #3665ef;
    opacity: 0.9;
    width: fit-content;
    border-top: solid;
    border-radius: 30px;
    margin-top: 21.4%;
    padding: 0;
    top: 60%;
    text-align: center;


}

.title {
    font-size: 30px;
    padding: 1rem;
    margin-bottom: 20px;
    color: #38a1f1;
}

.category-title:hover {
    color: white;
}

.content {
    font-size: 19px;
    color: #38a1f1;
    padding-left: 1rem;
    padding-right: 1rem;
}

.category-header {
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 5px;
}

.category-title {
    font-size: 24px;
    margin-right: 10px;
    margin-top: 1rem ;
}

.category-container {
    margin-bottom: 20px;

}

a{
    text-decoration: none;
    color: #38a1f1;
}
a:visited:hover {
    color: white;
}
a:visited {
    color: #38a1f1; /* Change the color to red when a link is visited */

}

/* Your previous CSS styles for the home page */

@media (max-width: 820px) {
    .home {
        width: fit-content; /* Make it slightly narrower on smaller screens */
        margin-top: 80%; /* Adjust the top margin for smaller screens */
        padding: 10px; /* Add some padding for smaller screens */
    }

    .title {
        font-size: 24px; /* Reduce the title font size for smaller screens */
        margin-bottom: 10px; /* Adjust margin for smaller screens */
    }

    .content {
        font-size: 16px; /* Reduce font size for content on smaller screens */
    }

    .category-title {
        font-size: 20px; /* Reduce category title font size for smaller screens */
        margin-right: 5px; /* Adjust margin for smaller screens */
        margin-top: 0.5rem; /* Adjust top margin for smaller screens */
    }
}
