.home {
    background: #141414;
    color: #3665ef;
    opacity: 0.97;
    width: fit-content;
    /*background: none;*/
    border-top: solid;
    border-bottom: solid;
    border-radius: 30px;
    margin-top: 21.4%;
    padding: 0;
    top: 60%;
    text-align: center;


}

.title {
    font-size: 30px;
    padding: 1rem;
    margin-bottom: 20px;
    color: #ff8292;
}

.category-title:hover {
    color: white;
}

.content {
    font-size: 19px;
    color: #38a1f1;
    padding-left: 1rem;
    padding-right: 1rem;
}

.category-header {
    opacity: 4;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 5px;
}

.category-title {
    font-size: 24px;
    margin-right: 10px;
    margin-top: 1rem ;
}

.category-container {
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.category-container:hover {
    transform: translateX(-10px);
    transition: transform 0.3s;
}

a{
    text-decoration: none;
    color: #38a1f1;
}
a:visited:hover {
    color: white;
}
a:visited {
    color: #38a1f1;

}



@media (max-width: 820px) {
    .home {
        width: fit-content;
        margin-top: 80%;
        padding: 10px;
    }

    .title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .content {
        font-size: 16px;
    }

    .category-title {
        font-size: 20px;
        margin-right: 5px;
        margin-top: 0.5rem;
    }
}
